img{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 1000px;
}

h1{
  color: red;
  font-style: italic;
}

body{
  height: 200%; width: 100%; padding: 0; margin: 0;
  text-align: center;
  font-family: "Arial";
  color: white;
  font-size: 150%;
  font-weight: bolder;
  cursor: wait;
}
