img{
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
  width: 1000px;
}

h1{
  color: red;
  font-style: italic;
}

body{
  text-align: center;
  font-family: "Arial";
  color: white;
  font-size: 150%;
  font-weight: bolder;
}
